<% layout('layouts/boilerplate') -%>
</head>
<body>
    <div class="container">
        <div class="row mb-5">
            <form method="post" action="/listing/<%= EditData._id %>?_method=PUT" >
                <h1>Update Details of <%= EditData.title %></h1>
                <br><br>
                <div class="input-group mb-3">
                    <span class="input-group-text">Title</span>
                    <input type="text" name="listing[title]" class="form-control" value="<%= EditData.title %>">
                  </div>
            
                  <div class="input-group mb-3">
                    <span class="input-group-text">Description</span>
                    <textarea class="form-control" rows="5" name="listing[description]" aria-label="With textarea">
                        <%= EditData.description %>
                    </textarea>
                  </div>
                  
                  <div class="input-group mb-3">
                    <span class="input-group-text">Image Url</span>
                    <input type="text" name="listing[image][url]" class="form-control" value="<%= EditData.image.url %>">
                  </div> 
                
                  <div class="input-group mb-3">
                    <span class="input-group-text">Price</span>
                    <input type="text" name="listing[price]" class="form-control" value="<%= EditData.price %>">
                  </div> 

                  <div class="input-group mb-3">
                    <span class="input-group-text">Location</span>
                    <input type="text" name="listing[location]" class="form-control" value="<%= EditData.location %>">
                  </div> 
                  <div class="input-group mb-3">
                    <span class="input-group-text">Country</span>
                    <input type="text" name="listing[country]" class="form-control" value="<%= EditData.country %>">
                  </div> 
                
                <br>
               
                    <button class="btn btn-primary px-5" style="background-color: #BF3880; color:white; border:none;" type="submit">SUBMIT</button>
                </form>
                <br><br>
        </div>
    </div>


</body>
</html>