<% layout('layouts/boilerplate') -%>
<body>
    <div class="zoomImg">
        <i class="fa fa-close d-none closeHoverImg"></i>
    </div>
    <img src="<%= DataById.image.url %>" alt="gb" class="imgHover d-none">
    
    <div class="container showStyle hoverCont">
        
        <h1>Details: <%= DataById.title %></h1>
        <br>
        <div class="row showRow d-flex justify-content-center">
            <div class="card showCard" style="width: 50%;">
                
                <div class="card-body overflow-hidden imgCard rounded-3 p-0 showImgCard">
                    <img src="<%= DataById.image.url %>" class="card-img-top rounded-2" alt="imageDestination">
                </div>
                
                <div class="card-body">
                  <h5 class="card-title"><%= DataById.title %></h5>
                  <p class="card-text"><%= DataById.description %></p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item border-0 pt-0">Price: &#8377; <b><%= DataById.price.toLocaleString("en-IN") %></b></li>
                  <li class="list-group-item border-0 pt-0">Location: <b><%= DataById.location %></b></li>
                  <li class="list-group-item border-0 pt-0">Country: <b><%= DataById.country %></b></li>
                </ul>
                <div class="card-body d-flex justify-content-between">
                    <form action="/listing/<%= DataById._id %>/edit" method="get">
                        <button class="btn btn-primary px-5" style="background-color: #BF3880; color:white; border:none;" type="submit">Edit</button>
                    </form>
                    <form action="/listing/<%= DataById._id %>?_method=DELETE" method="post">
                        <button class="btn btn-primary px-5" style="background-color: #BF3880; color:white; border:none;" type="submit">Delete</button>
                    </form>
                    </div>
              </div>
        </div>
    </div>

</body>
</html>