<% layout('layouts/boilerplate') -%>
<body>
    <div class="zoomImg">
        <i class="fa fa-close d-none closeHoverImg"></i>
    </div>
    <img src="<%= DataById.image.url %>" alt="gb" class="imgHover d-none">
    
    <div class="container showStyle hoverCont">
        
        <h1>Details: <%= DataById.title %></h1>
        <br>
        <div class="row showRow d-flex justify-content-center">
            <div class="card showCard" style="width: 50%;">
                
                <div class="card-body overflow-hidden imgCard rounded-3 p-0 showImgCard">
                    <img src="<%= DataById.image.url %>" class="card-img-top rounded-2" alt="imageDestination">
                </div>
                
                <div class="card-body">
                  <h5 class="card-title"><%= DataById.title %></h5>
                  <p class="card-text"><%= DataById.description %></p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item border-0 pt-0">Price: &#8377; <b><%= DataById.price.toLocaleString("en-IN") %></b></li>
                  <li class="list-group-item border-0 pt-0">Location: <b><%= DataById.location %></b></li>
                  <li class="list-group-item border-0 pt-0">Country: <b><%= DataById.country %></b></li>
                </ul>
                <div class="card-body d-flex justify-content-between">
                    <form action="/listing/<%= DataById._id %>/edit" method="get">
                        <button class="btn btn-primary px-5" style="background-color: #BF3880; color:white; border:none;" type="submit">Edit</button>
                    </form>
                    <form action="/listing/<%= DataById._id %>?_method=DELETE" method="post">
                        <button class="btn btn-primary px-5" style="background-color: #BF3880; color:white; border:none;" type="submit">Delete</button>
                    </form>
                    </div>
              </div>
              <hr>
              <div class="row">
                <form action='/listing/review?id=<%= DataById._id %>' method="post" novalidate class="needs-validation">
                    <h3>Leave a Review</h3>
                        <br>
                        <div class="input-group mb-3">
                            <span class="input-group-text rounded">Rating</span>
                            <input type="range" class="form-range" min="1" max="5" id="customRange1" name="review[rating]" required>
                            <div class="valid-feedback">
                              Looks good!
                            </div>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Comment</span>
                                <textarea class="form-control" rows="5" name="review[comment]" aria-label="With textarea" required></textarea>
                                <div class="valid-feedback">
                                  Looks good!
                                </div>
                              
                              </div>
                              
                              <button class="btn btn-primary px-5 mb-5" style="background-color: #BF3880; color:white; border:none;" type="submit">SEND</button>
                </form>
                <hr>
                <div class="row">
                    <h3 class="mb-2">All Reviews</h3>
                    <div class="row d-flex mb-3" style="gap: 10px; justify-content:flex-start;">
                        <% for (let i of DataById.reviews){ %>
                            <div class="card" style="width: 25rem;">
                                <div class="card-body">
                                  <div class="row" style="align-items: center; gap:
                                  10px;">
                                    <div class="img rounded-circle" style="width: 50px; height:50px; background-color:#BF3880; overflow:hidden;"></div>
                                    <h5 style="display: contents;">User</h5>
                                  </div>
    
                                  <p class="card-text"><%= i.comment %></p>
                                  <article><%= i.rating %> stars</article>
                                  <div class="row d-flex" style="justify-content:space-between;">
                                    <form action="/listing/<%= DataById._id %>/review/edit/<%= i._id%>" method="get" style="display:contents;">
                                      <button type="submit"  class="btn btn-primary px-3 mt-2" style="background-color: #BF3880; color:white; border:none;" >EDIT</button>
                                    </form>
                                    <form action="/listing/<%=DataById._id%>/review/<%= i._id%>?_method=delete" method="post" style="display:contents;">
                                      <button type="submit"  class="btn btn-primary px-3 mt-2" style="background-color: #BF3880; color:white; border:none;" >DELETE</button>
                                    </form>
                                  </div>
                                  
                                </div>
                              </div>
                        <% } %>
                    </div>
                    
                </div>
              </div>

        </div>
        
    </div>

</body>
</html>